<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        <!-- <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
    </ng-template>
</p-toolbar>

<p-table #datatable *ngIf="flights" [value]="flights" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,15,20]"
    [filterDelay]="0" [globalFilterFields]="['flightNumber','origin', 'destination', 'departDay', 'price']">

    <!-- Global Filter User Input-->
    <ng-template pTemplate="caption">
        <div class="table-header" style="text-align: right">
            <span class="p-input-icon-left">
                <em class="pi pi-search" style="margin:4px 4px 0 0"></em>
                <input pInputText type="text" size="50" placeholder="Global Filter" style="width:auto"
                (input)="datatable.filterGlobal(getEventValue($event), 'contains')"
                placeholder="Global Search">
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-flight>
        <tr>
            <th pSortableColumn="flightNumber">Flight <p-sortIcon field="flightNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="origin">From <p-sortIcon field="origin"></p-sortIcon>
            </th>
            <th pSortableColumn="destination">To <p-sortIcon field="destination"></p-sortIcon>
            </th>
            <th pSortableColumn="departDay">Depart Day <p-sortIcon field="departDay"></p-sortIcon>
            </th>
            <th pSortableColumn="price">Price ($) <p-sortIcon field="price"></p-sortIcon>
            </th>
        </tr>

        <!-- <tr>
            <th>
                <input pInputText type="text" (input)="datatable.filter($event.target.value, 'flightNumber', 'startsWith')" placeholder="Search by Name" class="p-column-filter">
            </th>
            <th></th>
            <th></th>

            <th>
                <p-dropdown [options]="days" (onChange)="datatable.filter($event.value, 'departDay', 'equals')" styleClass="p-column-filter" placeholder="Select Day" [showClear]="true">
                    <ng-template let-option pTemplate="item">
                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
            </th>
            <th></th>
        </tr> -->
    </ng-template>

    <ng-template pTemplate="body" let-flight>
        <tr>
            <td>{{flight.flightNumber}}</td>
            <td>{{flight.origin}}</td>
            <td>{{flight.destination}}</td>
            <td>{{flight.departDay}}</td>
            <td>{{flight.price}}</td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="flightDialog" [style]="{width: '450px'}" header="Flight Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="p-field">
            <label for="cities">Origin</label>
            <p-dropdown [(ngModel)]="flight.origin" inputId="origin" [options]="cities" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'airport-name city-' + option.code">{{option.name}}</span>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="p-field">
            <label for="cities">destination</label>
            <p-dropdown [(ngModel)]="flight.origin" inputId="destination" [options]="cities" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'airport-name city-dest-' + option.code">{{option.name}}</span>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field">
                <label for="cities">Depart Day</label>
                <p-dropdown [(ngModel)]="flight.departDay" inputId="departDay" [options]="days" placeholder="Select">
                    <ng-template let-option pTemplate="item">
                        <span [class]="'airport-name departDay-' + option.value">{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="p-field p-col">
                <label for="departTime">Depart Time</label>
                <p-inputNumber id="departTime" [(ngModel)]="flight.departTime"></p-inputNumber>
            </div>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field">
                <label for="cities">Arrive Day</label>
                <p-dropdown [(ngModel)]="flight.arriveDay" inputId="arriveDay" [options]="days" placeholder="Select">
                    <ng-template let-option pTemplate="item">
                        <span [class]="'airport-name arriveDay-' + option.value">{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="p-field p-col">
                <label for="arriveTime">Arrive Time</label>
                <p-inputNumber id="arriveTime" [(ngModel)]="flight.arriveTime"></p-inputNumber>
            </div>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="price">Price</label>
                <p-inputNumber id="price" [(ngModel)]="flight.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
